@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}
@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    } 
    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}
.banner .slider .item {
    position: absolute;
    inset: 0;
    transform:
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
    border: 6px solid #000;
    border-radius: 15px;
}
.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.banner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.banner .content h1 {
    font-family: 'ICA Rubrik';
    font-size: 16em;
    line-height: 1em;
    color: #252838;
    position: relative;
    z-index: 2;
    display: inline-block;
}
.banner .content h1::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
    display: block;
    white-space: nowrap;
    overflow: visible;
}
.banner .author {
    font-family: Poppins;
    text-align: left;
    max-width: 200px;
    bottom: 20px;
    position: absolute;
    right: 20px;
    z-index: 3;
}
.banner .author h2 {
    font-size: 2em;
    margin-bottom:10px
}
.banner .author .links {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    z-index: 3;
}
.banner .author .links a {
    display: inline-block;
    z-index: 3;
}
.banner .author .links img {
    width: 32px;
    height: 32px;
    transition: 0.2s;
    z-index: 3;
}
.banner .author .links img:hover {
    transform: scale(1.1);
}
.banner .content .model {
    background-image: url("images/model.png");
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 0;
}

